.off-canvas-navigation {
    @apply .opacity-0 .transition--fast;
    pointer-events: none;
    transform: scale(1.1);

    &--open {
        @apply .opacity-100;
        pointer-events: auto;
        transform: scale(1.0);
    }

    ul li a {
        &:hover:after {
            @apply .w-full .bg-primary-light .pin-l;
        }

        &:after {
            @apply .bg-white .absolute .transition--fast;
            content: '';
            height: 2px;
            margin-top: -1px;
            left: 50%;
            top: 50%;
            width: 0;
            z-index: -1;
        }
    }
}