$avatar-size: 100px;
.sidebar__about {
    &__background {
        height: 175px;
    }

    &__avatar {
        height: $avatar-size;
        top: 175px - ($avatar-size / 2);
        width: $avatar-size;
    }

    &__content {
        padding-top: ($avatar-size / 2 - 10px);
    }
}